[user]
	email =
	name =

[core]
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  side-by-side = true
  features = colibri                  # group of settings, not syntax theme
  syntax-theme = Coldark-Dark         # list themes with: bat --list-themes
  line-numbers-left-format = {nm:^0}│ # delta --help for examples
  line-numbers-right-format = ""      # allow more width for side-by-side
  navigate = true                     # use n and N to move between sections
  light = false                       # set true for terminals w/ light bg color
  true-color = always                 # enable 24-bit color
  # For removed lines, set fg color to syntax colors, background color to hex
  minus-style = syntax "#300e2f"
  # For added lines, set fg color to syntax colors, background color to hex
  plus-style = syntax "#1b2246"

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default
